
$sred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$ddcyan: hsl(167, 40%, 24%);
$dkblue: hsl(198, 62%, 26%);
$dmcyan: hsl(168, 34%, 41%);



$vddblue: hsl(212, 27%, 19%);
$vdgblue: hsl(213, 9%, 39%);
$dgblue: hsl(232, 10%, 55%);
$gblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


$frauces700: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;